* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainRegister {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeeeee;
}

.headerForm {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  height: 150px;
  padding-top: 10px;
  margin: 0 auto;
  background-color: #d3cbcb;
}

.headerForm img,
.headerForm h1 {
  margin: 0 auto;
  color: orange;
}

.forma {
  width: 450px;
  margin: 0 auto;
  background-color: #d3cbcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 250px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.forma input#username {
  background: url(./../img/username.svg) no-repeat scroll 10px 7px;
}

.forma input#email {
  background: url(./../img/email.svg) no-repeat scroll 10px 7px;
}

.forma input#password {
  background: url(./../img/password.svg) no-repeat scroll 10px 7px;
}

.forma input#passwordRepeat {
  background: url(./../img/passwordRepeat.svg) no-repeat scroll 10px 7px;
}

.forma input {
  background-color: white !important;
  padding-left: 50px;
  height: 40px;
  width: 430px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  border: none;
}

.forma button {
  background-color: orange;
  height: 40px;
  width: 430px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  border: none;
}

.message,
.error {
  margin-top: 20px !important;
  background-color: #d3cbcb;
  height: 40px;
  width: 450px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  text-align: center;
}

.error {
  color: red;
  background-color: lightcoral;
  opacity: .8;
  height: 60px;
}

.error1 {
  color: #c73434;
  border: 2px solid lightcoral !important;
}

.loading {
  opacity: 0.5;
}

.login {
  height: 150px;
}

.h1Login {
  color: purple !important;
}

.imgLogin {
  fill: purple !important;
}

#buttonLogin {
  background-color: purple !important;
}

.mainFields {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70%;
      grid-template-columns: 20% 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainFields .messagesMeta, .mainFields .colorSide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}
/*# sourceMappingURL=App.css.map */