* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainRegister {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeeeee;
}

.headerForm {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  height: 150px;
  padding-top: 10px;
  margin: 0 auto;
  background-color: #d3cbcb;
}

.headerForm img,
.headerForm h1 {
  margin: 0 auto;
  color: orange;
}

.forma {
  width: 450px;
  margin: 0 auto;
  background-color: #d3cbcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 250px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.forma input#username {
  background: url(./../img/username.svg) no-repeat scroll 10px 7px;
}

.forma input#email {
  background: url(./../img/email.svg) no-repeat scroll 10px 7px;
}

.forma input#password {
  background: url(./../img/password.svg) no-repeat scroll 10px 7px;
}

.forma input#passwordRepeat {
  background: url(./../img/passwordRepeat.svg) no-repeat scroll 10px 7px;
}

.forma input {
  background-color: white !important;
  padding-left: 50px;
  height: 40px;
  width: 430px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  border: none;
}

.forma button {
  background-color: orange;
  height: 40px;
  width: 430px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  border: none;
}

.message,
.error {
  margin-top: 20px !important;
  background-color: #d3cbcb;
  height: 40px;
  width: 450px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  text-align: center;
}

.error {
  color: red;
  background-color: lightcoral;
  opacity: .8;
  height: 60px;
}

.error1 {
  color: #c73434;
  border: 2px solid lightcoral !important;
}

.loading {
  opacity: 0.5;
}

.login {
  height: 150px;
}

.h1Login {
  color: purple !important;
}

.imgLogin {
  fill: purple !important;
}

#buttonLogin {
  background-color: purple !important;
}

.mainFields {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70%;
      grid-template-columns: 20% 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eee;
}

.mainFields .messagesMeta, .mainFields .colorSide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.mainFields .sidePanel {
  width: 200%;
  height: 100vh;
  background-color: #4c3c4c;
}

.mainFields .sidePanel h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  font-size: 2.2rem;
}

ul {
  background-color: #eee;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  list-style-type: none;
}

ul li:hover {
  background-color: #83817f;
  cursor: pointer;
}

li:nth-child(1):hover {
  cursor: not-allowed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

li:nth-child(3):hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#mainMenu {
  display: none;
}

.user {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
}

.channels {
  width: 80%;
  margin: 0 auto;
}

.channels .plus {
  float: right;
  cursor: pointer;
}

.channels .addChannelForm {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.channels .addChannelForm .form {
  border: 1px solid #c2b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
  height: 30%;
  padding-bottom: 60px;
}

.channels .addChannelForm .form div.subForm {
  width: 80%;
}

.channels .addChannelForm .name, .channels .addChannelForm .details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3%;
  border-radius: 5px;
  height: 30%;
}

.channels .addChannelForm .name label, .channels .addChannelForm .details label {
  background-color: #d4d6d6;
  width: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
}

.channels .addChannelForm .name input, .channels .addChannelForm .details input {
  width: 80%;
  border: none;
  background-color: lightcyan;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 25px;
}

.channels .addChannelForm .name input:focus, .channels .addChannelForm .details input:focus {
  border-bottom: 2px solid #423942;
}
/*# sourceMappingURL=App.css.map */