* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainRegister{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}
.headerForm {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 150px;
  padding-top: 10px;
  margin: 0 auto;
  background-color: rgb(211, 203, 203);
  img,
  h1 {
    margin: 0 auto;
    color: orange;
  }
}
.forma {
  width: 450px;
  margin: 0 auto;
  background-color: rgb(211, 203, 203);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  input#username {
    background: url(./../img/username.svg) no-repeat scroll 10px 7px;
  }
  input#email{
    background: url(./../img/email.svg) no-repeat scroll 10px 7px;

  }
  input#password{
    background: url(./../img/password.svg) no-repeat scroll 10px 7px;

  }
  input#passwordRepeat{
    background: url(./../img/passwordRepeat.svg) no-repeat scroll 10px 7px;

  }
  input {
    background-color: white !important;
    padding-left: 50px;
    height: 40px;
    width: 430px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    border: none;

  }
  button{
    background-color: orange;
    height: 40px;
    width: 430px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    border: none;
    
  }
}
.message{
  margin-top: 20px !important;
  background-color: rgb(211, 203, 203);
  height: 40px;
  width: 450px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  text-align: center;

}

