* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainRegister {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}
.headerForm {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 150px;
  padding-top: 10px;
  margin: 0 auto;
  background-color: rgb(211, 203, 203);
  img,
  h1 {
    margin: 0 auto;
    color: orange;
  }
}
.forma {
  width: 450px;
  margin: 0 auto;
  background-color: rgb(211, 203, 203);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  input#username {
    background: url(./../img/username.svg) no-repeat scroll 10px 7px;
  }
  input#email {
    background: url(./../img/email.svg) no-repeat scroll 10px 7px;
  }
  input#password {
    background: url(./../img/password.svg) no-repeat scroll 10px 7px;
  }
  input#passwordRepeat {
    background: url(./../img/passwordRepeat.svg) no-repeat scroll 10px 7px;
  }
  input {
    background-color: white !important;
    padding-left: 50px;
    height: 40px;
    width: 430px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    border: none;
  }
  button {
    background-color: orange;
    height: 40px;
    width: 430px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    border: none;
  }
}
.message,
.error {
  margin-top: 20px !important;
  background-color: rgb(211, 203, 203);
  height: 40px;
  width: 450px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  text-align: center;
}
.error {
  color: rgb(255, 0, 0);
  background-color: lightcoral;
  opacity: 0.8;
  height: 60px;
}
.error1 {
  color: rgb(199, 52, 52);
  border: 2px solid lightcoral !important;
}
.loading {
  opacity: 0.5;
}

.login {
  height: 150px;
}
.h1Login {
  color: purple !important;
}
.imgLogin {
  fill: purple !important;
}
#buttonLogin {
  background-color: purple !important;
}

.mainFields {
  display: grid;
  grid-template-columns: 20% 75%;
  justify-content: space-between;
  background-color: #eee;
  .messagesMeta{
    display: grid;
    grid-template-columns: 60% 40%;
    .messagesMain{
      background-color: white;
      border:1px solid black;
      margin: 5px;
      margin-bottom: 15px;

      .messages{
        width: 100%;
        height: 70%;
        border: 1px solid black;
      }

      .messageFormMain{
        width: 165%;
        border: 1px solid black;
        height: 20%;
        .inputText{
      
            width: 98%;
            margin: 0 auto;
            border: 1px solid rgb(165, 151, 151);
            span{
              display: flex;
              justify-content: center;
            }
            img{
              width:35px;
            }
            
            input{
              margin: 0;
              width: 100%;
              height: 40px;
              border: 0;
              
            
          }
        }
      }

      .messageHeader{
        display: grid;
        grid-template-columns: 50% 50%;
      
        .header{
          border: 1px solid black;
          display: flex;
          flex-direction: column;
         
          
         h1,h2{
           margin: 0;
         }
        }
        .searchMessage{
          border: 1px solid black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          float:left;

          .inputBox{
            display: flex;
            justify-content: center;
           

            img{
              padding-bottom: 5px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
          input{
            width: 60%;
            border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            border: 0;
            outline: none;
            height: 30px;
           
            background-color: lightcyan;

            &:focus {
              border-bottom: 2px solid #423942;
            }
          }
        }
      }
    }
  }
  .colorSide {
    display: grid;
    grid-template-columns: 25% 75%;
    .colorPanel{
      background-color: black;
      display: flex;
      justify-content: center;
      

      img{
        margin: 0 auto !important;
        width:50px;
        height: 50px;
      }
    }
  }
  
  .sidePanel {
    width: 100%;
    height: 100vh;
    background-color: #4c3c4c;
    h1 {
      display: flex;
      width: 80%;
      margin: auto;
      font-size: 2.2rem;
    }
    h2{
      margin: 0;
    }
  }
}
ul {
  background-color: #eee;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  list-style-type: none;
  li:hover {
    background-color: rgb(131, 129, 127);
    cursor: pointer;
  }
}
li:nth-child(1):hover {
  cursor: not-allowed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
li:nth-child(3):hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#mainMenu {
  display: none;
}

.user {
  width: 50%;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
}
.channels {
  width: 80%;
  margin: 0 auto;
  .plus {
    float: right;
    cursor: pointer;
  }

  .addChannelForm {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #313131, $alpha: 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    flex-direction: column;

    .form {
      border: 1px solid rgb(194, 180, 180);
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
      height: 35%;
      padding-bottom: 80px;

      div.subForm {
        width: 80%;
      }
    }
    .name,
    .details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 3%;
      border-radius: 5px;
      height: 30%;

      label {
        background-color: rgb(212, 214, 214);
        width: 20%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 800;
      }
      input {
        width: 80%;
        border: none;
        background-color: lightcyan;

        outline: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 25px;
        &:focus {
          border-bottom: 2px solid #423942;
        }
      }
    }
  }
  .buttons {
    width: 35%;
    float: right;
    display: flex;
    justify-content: space-between;
    height: 20%;
    border-radius: 5px;
    margin-right: 15px;
    button {
      padding: 0 20px;
      width: 50%;
    }
    .Add {
      background: transparent;
      border: 1px solid green;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      color: green;
      display: flex;
      flex-direction: column;      
      justify-content: center;

      span{
        display: flex;
        width: 50px;
        justify-content: space-between;
        margin: 0 auto;

      }

      &::after {
        content: "";
        position: absolute;
        background-color: rgba($color: #55cc1e, $alpha: 0.2);
        top: 0px;
        left: 0px;
        width: 0%;
        height: 100%;
        z-index: 1;
        transition: 0.8s;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .Cancel {
      background: transparent;
      border: 1px solid red;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      color: red;
      span{
        display: flex;
        width: 70px;
        justify-content: space-between;
        margin: 0 auto;
       span:nth-child(1){
         height: 100%;
       }
      }

      &::after {
        content: "";
        position: absolute;
        background-color: rgba($color: #cc1e1e, $alpha: 0.2);
        top: 0px;
        left: 0px;
        width: 0%;
        height: 100%;
        z-index: 1;
        transition: 0.8s;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

ul.listOfChannels{
  
  margin: 0;
  background-color: transparent !important;
  color: rgba($color: #000000, $alpha: 0.7);
  li:nth-child(1){
    cursor: pointer;
  }

  li:nth-child(3):hover{
    border-radius: 0;
  }
  li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }


}


