* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainRegister {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}
.headerForm {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 150px;
  padding-top: 10px;
  margin: 0 auto;
  background-color: rgb(211, 203, 203);
  img,
  h1 {
    margin: 0 auto;
    color: orange;
  }
}
.forma {
  width: 450px;
  margin: 0 auto;
  background-color: rgb(211, 203, 203);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  input#username {
    background: url(./../img/username.svg) no-repeat scroll 10px 7px;
  }
  input#email {
    background: url(./../img/email.svg) no-repeat scroll 10px 7px;
  }
  input#password {
    background: url(./../img/password.svg) no-repeat scroll 10px 7px;
  }
  input#passwordRepeat {
    background: url(./../img/passwordRepeat.svg) no-repeat scroll 10px 7px;
  }
  input {
    background-color: white !important;
    padding-left: 50px;
    height: 40px;
    width: 430px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    border: none;
  }
  button {
    background-color: orange;
    height: 40px;
    width: 430px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    border: none;
  }
}
.message,
.error {
  margin-top: 20px !important;
  background-color: rgb(211, 203, 203);
  height: 40px;
  width: 450px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  text-align: center;
}
.error {
  color: rgb(255, 0, 0);
  background-color: lightcoral;
  opacity: .8;
  height: 60px;
}
.error1 {
  color: rgb(199, 52, 52);
  border: 2px solid lightcoral !important;
  
}
.loading {
  opacity: 0.5;
}

.login{
  height: 150px;
}
.h1Login{
  color: purple !important;
}
.imgLogin{
  fill: purple !important;
}
#buttonLogin{
  background-color: purple !important;
}

.mainFields{
  display: grid;
  grid-template-columns: 20% 70%;
  justify-content: space-between;
  background-color: #eee;
  .messagesMeta, .colorSide{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .sidePanel{
    
    width: 200%;
    height: 100vh;
    background-color: #4c3c4c;
    h1{
      display: flex;
      width: 80%;
      margin: auto;
      font-size: 2.2rem;
      
    }
  }  
}
