

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('./../img/mario-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  background-color: #95e8f3;
  
  .title{
    width: 200px;
    margin:0 auto;
    text-align: center;
  }
form{
  background-color: honeydew;
  width: 40%;
  margin: 0 auto;
}
  


  nav {
    height: 7vh;
    background-color: rgb(141, 133, 133);
    display: flex;
    justify-content: space-between;
    line-height: 7vh;
    a {
      color: honeydew;
      text-decoration: none;
      font-size: 4vh;
      margin-left: 10vh;
    }
    div.main{
        width: 70%;
        display: flex;
        justify-content: space-around;
        .navbarSignIn {
            float: right;
            font-size: 2vh;
            .SignInNav {
              display: flex;
              width: 400px;
              justify-content: space-around;
              a {
                font-size: 2.5vh;
                margin: 0;
              }
      
              .pinkCircleLink {
                padding: 0 2vh;
                border-radius: 50%;
                background-color: hotpink;
              }
            }
          }
      
          .navbarSignOut {
            float: right;
            font-size: 2vh;
            .SignOutNav {
              display: flex;
              width: 200px;
              justify-content: space-around;
              a {
                font-size: 2.5vh;
                margin: 0;
              }
            }
          }
        }
    }

    .dashboard{
     
      .row{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;

        .projectList{
          color: grey;
          p{
            font-size: 2vh;
          }
          .summary{
            background-color: rgba(0,0,0,.1);
            padding: 10px 20px;
            margin-bottom: 3px;
          }
        }
      }
    }
   
}
