.ispis{
height: 100vh;
.koordinate{
    background-color: grey;
    text-align: center;
    height: 10vh;
}
.polje{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    background-color: lightblue;
    .text{
        text-align: center;
        margin: 0 auto;
        justify-self: center;
        padding: 10px 30px;
        background-color: lightgray;
        width:10%;
        border-radius: 10px;
        color: white;
        font-size: 20px;
    }
    #desno{
     
        
        .slika{
            width: 100px;
            float: right;
        }
    }
}
}


