*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
 

}
html{
    scroll-behavior: smooth;
   

}

.main{
    height: 150vh;
    width: 100%;
    background-image: url(./pozadina-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:50px ;
    margin-top: 30px;
   
    
    
    /* opacity: .5; */
}
h1{
    z-index: 100;
    padding-top: 70px;
    opacity: 1 !important;
    color: black;
    font-weight: 200;
    font-family: 'Pacifico', cursive;
}
.opis{
    
    display: flex;
    justify-content: space-around;
    color: rgb(50,50,50);

}
.liste{
    color: black;
}
.lista{
    padding-top: 60px; 
}
.lista li{
    list-style-type: none;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
}

.lista li a{
    text-decoration: none;
    color: black;
}

.lista li a:hover{
    color: brown;
    text-decoration: underline;
}

#vizantijskiStil{
    margin-top: 65px;
    height: 85vh;
    

}

#vizantijskiStil h2{
    font-family: 'Pacifico', cursive;

}

#daska h2{
    color: black;
    height: 100vh;
    font-family: 'Pacifico', cursive;

}

.text{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.text p{
    text-align: left;
    margin: 30px;
}

#daska{
    background-image: url('./textura2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    
}

#daska h2{
    color: white;
    font-weight: 100;
    height: 100px;
}
#daska p{
    margin-top: 40px;
}
.textDaska{
    display: flex;
    justify-content: space-around;
}
#slikaDaska{
    width: 300px;
    border-radius: 30px;

   
}
#slikaDaska:hover{
    transform: scale(1.5);
    cursor: pointer;
    transition: transform 1.5s;
}
#tehnika{
    height: 80vh;
    background-image: url('./textura2.jpg');
    display: flex;
    flex-direction: column;
    
}
#tehnika h2{
    font-family: 'Pacifico', cursive;

}
.slikeTehnika{
    display: flex;
    justify-content: space-around;

}
#tehnika1{
    width: 300px;
    border-radius: 50px;
    
}
#tehnika1:hover{
    transform: scale(1.5);
    cursor: pointer;
    transition: transform 1.5s;
}
