.navbar{
top: 0;
position: absolute;

}
.mainM{
    background-image: none;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:50px ;
    margin-top: 30px;
}
.main1{
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.textIkonopisac{
    margin-top: 100px;
    width:500px;
}
.textIkonopisac p{
    padding-top: 10px;
}
#majka{
    width:400px;
    transform: scale(.8);
    margin-left: 10px;
    border-radius: 30px;
}